<h1>ストーリー</h1>
<%= link_to "新規", admin_new_story_path %>

<table>
 <tr>
   <th>カテゴリ</th>
   <th>タイトル</th>
    
 </tr>  
 <% @stories.each do |story| %>
 <tr>
     <td><%= story.category %></td>
    <td><%= story.name %></td>
    <td>
     <%= link_to "編集", admin_edit_story_path(story) %>
     <%= link_to "削除", admin_story_path(story), method: "delete", data: {confirm: '本当に削除しますか？' } %>
    </td>
 </tr>   
 
 <% end %>
   
    
</table>