<h1>クイズ新規作成</h1>

<%= form_with model: [:admin, @quiz], local: true do |f| %>

    <div class="form-group">
        <label>問題</label>
        <%= f.text_field :question, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <label>ストーリー番号</label>
        <%= f.number_field :story_id, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <label>選択肢１</label>
        <%= f.text_field :answer1, class: "form-control" %>
    </div>
    <div class="form-group">
        <label>選択肢２</label>
        <%= f.text_field :answer2, class: "form-control" %>
    </div>
    <div class="form-group">
        <label>選択肢３</label>
        <%= f.text_field :answer3, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <label>答え</label>
        <%= f.text_field :answer, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <label>説明</label>
        <%= f.text_field :discription, class: "form-control" %>
    </div>
    <%= f.submit "登録", class: "btn btn-primary"%>
    
<% end %>