<h1>クイズ</h1>
   
    <td><%= @quiz.content %></td>
    
    <tr>
       
        <th>下線部ついて<%= @quiz.question %></th>
        <td>A<%= @quiz.answer1 %></td>
        <td>B<%= @quiz.answer2 %></td>
        <td>C<%= @quiz.answer3 %></td>
        
    </tr>
    
