<h1>クイズ</h1>
   
    <p><%= @quiz.content %></p>
    
    <p>
       
        <ol>
            下線部ついて<%= @quiz.question %>
        <li>A<%= @quiz.answer1 %></li>
        <li>B<%= @quiz.answer2 %></li>
        <li>C<%= @quiz.answer3 %></li>
        </ol>
        
    </p>
    
